.hero {
  position: relative;
  background-color: $black-color;
  padding-top: 127px;
  padding-bottom: 147px;
  .heshteg {
    position: absolute;
    left: 120px;
    top: 457px;
    display: flex;
    transform: rotate(90deg);
    .heshteg-text {
      font-family: $second-family;
      font-weight: 400;
      font-size: 18px;
      line-height: 175%;
      letter-spacing: 0.04em;
      color: $white-color;
      margin-right: 40px;
    }
  }
  .hero-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: $white-color;
    margin-top: 127px;
  }
  .hero-title {
    width: 453px;
    height: 290px;
    font-weight: 700;
    font-size: 89px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: $text-color;
  }
  .hero-description {
    width: 453px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #aaa;
  }
  .hero-img {
    margin-left: 180px;
  }
}
.about-us {
  background: url("../../images/background-geritch.jpg") no-repeat;
  padding-top: 120px;
  padding-bottom: 124px;
  .about {
    margin-right: 74px;
    .about-us-name,
    .about-us-text {
      text-align: right;
    }
  }
  .about-us-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #dcca87;
  }
  .about-us-info {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    width: 523px;
    color: #aaa;
  }
  .history {
    margin-left: 74px;
  }
}
.book-tabel {
  padding-top: 157px;
  padding-bottom: 150px;
  background: $black-color;
  position: relative;
  .logo-icon {
    position: absolute;
    right: 151px;
    bottom: 680px;
  }
  .form {
    border: 1px solid rgba(220, 202, 135, 0.2);
    padding: 48px 32px;
    width: 1364px;
    height: 466px;
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    background: #0c0c0c;
    .book-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .book-subtitle {
      font-weight: 700;
      font-size: 23px;
      line-height: 130%;
      letter-spacing: 0.04em;
      color: $white-color;
      text-align: center;
    }
    .book-title {
      font-weight: 600;
      font-size: 64px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      text-align: center;
      color: $text-color;
    }
    .form-input {
      width: 412px;
      height: 60px;
      font-weight: 600;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      color: #aaa;
      border: 1px solid #f5efdb;
      background: transparent;
      margin-right: 18px;
      padding-left: 16px;
      margin-top: 64px;
    }
  }
}

.navigation {
  background: url("../../images/bg-navigation.jpg");
  padding-top: 260px;
  padding-bottom: 260px;
  position: relative;
  .logo-icon {
    position: absolute;
    top: -25px;
  }
  .navigation__list-item:nth-child(2) {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .navigation__list-link {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $white-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.menu {
  background-color: $black-color;
  padding-top: 152px;
  padding-bottom: 152px;
  .menu-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: $white-color;
    text-align: center;
  }
  .menu-icon {
    margin-left: 630px;
  }
  .menu-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    text-align: center;
    color: $text-color;
  }
  .detailed-menu {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    .info-menu {
      margin-right: 32px;
      .detailed-menu-title {
        font-weight: 600;
        font-size: 45px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        text-align: center;
        color: $white-color;
        margin-bottom: 40px;
      }
      .menu__list-item {
        width: 412px;
        height: 66px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        .menu__list-link,
        .menu-cost {
          font-weight: 700;
          font-size: 23px;
          line-height: 130%;
          letter-spacing: 0.04em;
          color: $text-color;
          height: 30px;
        }
        .menu-cost {
          color: $white-color;
        }
        .menu__list-link {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: context-menu;
          &::after {
            content: "";
            display: block;
            width: 119px;
            height: 1px;
            background: #fafafa;
            margin-left: 32px;
            margin-right: 32px;
          }
        }
        .menu-liter {
          font-family: $second-family;
          font-weight: 400;
          font-size: 16px;
          line-height: 175%;
          letter-spacing: 0.04em;
          text-align: center;
          color: #aaa;
        }
      }
    }
    .cocktails {
      margin-left: 32px;
      .menu-ingredients {
        font-family: $second-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #aaa;
      }
    }
  }
}
